.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  margin: 0 auto;
}

.navbar .mainNav {
  display: flex;
  align-items: center;
}

.navbar .logo {
  height: 1.9em;
}

.navbar .tabList {
  display: flex;
  column-gap: 1.5rem;
  cursor: pointer;
  margin-left: 2rem;
}

.dropdown::after {
  content: '\f0d7';
  display: inline-block;
  font-family: fontAwesome;
  margin-left: 0.4rem;
}