* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  user-select: none;
  background-color: initial;
}

input {
  outline: none;
  border: none;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

